
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');



body
{
  font-family: 'Playfair Display', serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-color: #F1EFEF;
}
.navbar-dark
{
	background-color: none;
}
.nav-link
{
	font-size: 20px;
}
.navbar-nav
{
	position: relative;
	font-family: sans-serif;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 1.3;
}
.navbar-nav li a
{
    font-size: 14px;
}
.navbar-toggler-icon
 {
   color: white;
 }
.nav-item
{
	margin: 0px;
	padding: 5px;
}

.signin
{
   font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
   width: 100%;
   height: 550px;
   border: 8px solid #efefef;
}

.signin .row
{
  height: 100%;
}

.signin .row #wrapper
{
  background-color: #fff;
  width: 78%;
  height: 450px;
  margin-left: 50px;
  margin-top: 38px;
}

.signin #back-logo
{
  font-size: 22px; 
  cursor: pointer; 
  color: #CA005D
}

.signin img
{
  padding-bottom: 10px;
}

.signin .content a
{
  color: black;
}

.signin .content #search
{
  cursor: pointer;
}

.signin .heading
{
	font-size: 19px;
	padding-left: 20px;
	padding-top: 5px;
	word-spacing: 5px;
}

.signin .content
{
    padding-left: 20px;
    padding-right: 20px;
}

.signin .content 

.signin .content span
{
	font-size: 15px;
}

.signin .content #search
{
    width: 345px;
    height: 50px;
    background-color: #CA005D;
    border: 1px solid #CA005D;
    color: white;
}

.footer .row #wrapper
{
   width: 78%;
   margin-left: 50px;
}

.footer .row #wrapper p
{
  font-size: 13px;
}

.footer .row #wrapper p a
{
  text-decoration: none;
}

.signin .row .other
{
  height: 80px;
}

.signin .row .other .row
{
  margin: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.signin .row .other .row .content1
{
  padding-top: 10px;
  color: #4267b2;
  border: 1px solid #CA005D;;
  width: 105px;
  height: 70px; 
}

.signin .row .other .row #col
{
   padding: 0px;
}

.signin .row .other .row #col .content1:hover
{
   background-color: #fcebf4;
}

.signin .row .other .row #col img
{
  padding: 0px;
}